/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Custom 4-layer keymap for Rishabh's Corne (writing-major + coding)
 *   0 BASE   - letters
 *   1 LOWER  - numbers + symbols        (hold left thumb)
 *   2 RAISE  - navigation + media + F   (hold right thumb)
 *   3 ADJUST - bluetooth + system       (hold LOWER + RAISE together)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                        if-layers = <LOWER RAISE>;
                        then-layer = <ADJUST>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LGUI &mo LOWER &kp SPACE   &kp RET &mo RAISE &kp RALT
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// |  `  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | DEL  |
// |  ~  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | "|"  |
// | "|" |  \  |  =  |  +  |  -  |  _  |   |  [  |  ]  |  {  |  }  |  ?  |  \   |
//                    | GUI |     | SPC |   | ENT | ADJ | ALT |
                        bindings = <
   &kp GRAVE &kp N1   &kp N2    &kp N3   &kp N4    &kp N5      &kp N6    &kp N7   &kp N8   &kp N9    &kp N0    &kp DEL
   &kp TILDE &kp EXCL &kp AT    &kp HASH &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS &kp STAR &kp LPAR  &kp RPAR  &kp PIPE
   &kp PIPE  &kp BSLH &kp EQUAL &kp PLUS &kp MINUS &kp UNDER   &kp LBKT  &kp RBKT &kp LBRC &kp RBRC  &kp QMARK &kp BSLH
                             &kp LGUI &trans &kp SPACE   &kp RET &mo ADJUST &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | ESC  | F1  | F2  | F3  | F4  | F5  |   | HOME| PGDN| PGUP| END |CAPS | DEL  |
// |      | F6  | F7  | F8  | F9  | F10 |   | LFT | DWN |  UP | RGT | INS |      |
// |      | F11 | F12 | MUT | VD- | VU+ |   | PRV | PLY | NXT |     |     |      |
//                    | GUI | ADJ | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp ESC &kp F1  &kp F2  &kp F3     &kp F4       &kp F5        &kp HOME   &kp PG_DN &kp PG_UP  &kp END   &kp CAPS &kp DEL
   &trans  &kp F6  &kp F7  &kp F8     &kp F9       &kp F10       &kp LEFT   &kp DOWN  &kp UP     &kp RIGHT &kp INS  &trans
   &trans  &kp F11 &kp F12 &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP  &kp C_PREV &kp C_PP  &kp C_NEXT &trans    &trans   &trans
                            &kp LGUI &mo ADJUST &kp SPACE   &kp RET &trans &kp RALT
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------
// |BTCLR| BT0 | BT1 | BT2 | BT3 | BT4 |   |     |     |     |     |     |      |
// | USB | BLE |     |     |     |     |   |     |     |     |     |     |      |
// |RESET|BOOT |     |     |     |     |   |     |     |     |     |BOOT |RESET |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &trans &trans &trans &trans &trans      &trans
   &out OUT_USB &out OUT_BLE &trans       &trans       &trans       &trans         &trans &trans &trans &trans &trans      &trans
   &sys_reset   &bootloader  &trans       &trans       &trans       &trans         &trans &trans &trans &trans &bootloader &sys_reset
                                          &trans &trans &trans   &trans &trans &trans
                        >;
                };
        };
};
